DB_URL  = 'mongodb link here'

JWT_SECRET = ' your secret key here'

CLIENT_URL = 'http://localhost:3000'

STRIPE_SECRET_KEY = 'your stripe secret key here'

# Cloudinary info

CLOUD_NAME = 'your cloudinary name'
CLOUD_API_KEY = 'your cloudinary api key'
CLOUD_API_SECRET = 'your cloudinary api secret key'